Repository trailofbits/ManticoreUI, pull requests merged in 2022-07, with the labels that each got.

#91 [Binja] Multiple custom hooks can be created at same address
  .github/workflows/binaryninja-ci.yml
  plugins/binaryninja/mui/dockwidgets/hook_list_widget.py
  plugins/binaryninja/mui/hook_manager.py
  plugins/binaryninja/mui/manticore_native_runner.py
  plugins/binaryninja/mui/mui.py
  plugins/binaryninja/mui/native_plugin.py
  plugins/binaryninja/mui/notification.py
  plugins/binaryninja/mui/settings.py
  plugins/binaryninja/tests/test_hook_manager.py
  plugins/binaryninja/tests/test_native_plugin.py
  plugins/binaryninja/tests/test_persistence.py
Labels: Binary Ninja

#93 Plugin run settings fetched from common resources directory
  plugins/binaryninja/.gitignore
  plugins/binaryninja/Makefile
  plugins/binaryninja/mui/settings.py
  plugins/binaryninja/mui/utils.py
  plugins/common/evm_run_settings.json
  plugins/common/native_run_settings.json
  plugins/ghidra/.gitignore
  plugins/ghidra/MUI/build.gradle
  plugins/ghidra/MUI/os/.gitignore
  plugins/ghidra/MUI/src/main/java/mui/MUIPlugin.java
  plugins/ghidra/MUI/src/main/java/mui/MUISettings.java
  plugins/ghidra/MUI/src/main/java/mui/MUISetupProvider.java
  plugins/ghidra/MUI/src/main/java/mui/ManticoreRunner.java
Labels: enhancement, Binary Ninja, Ghidra

#101 [Server] Add .gitignore, add missing dev-requirements
  plugins/binaryninja/.gitignore
  server/.gitignore
  server/requirements-dev.txt
Labels: bug

#97 [Ghidra] Support manual state control (Pause/Kill)
  plugins/ghidra/MUI/src/main/grpc/muicore/ManticoreUIGrpc.java
  plugins/ghidra/MUI/src/main/java/mui/MUIStateListProvider.java
  plugins/ghidra/MUI/src/main/java/mui/ManticoreRunner.java
  plugins/ghidra/MUI/src/main/java/muicore/MUICore.java
  plugins/ghidra/MUI/src/main/proto/MUICore.proto
Labels: Ghidra

#105 Fix bug in CI, run CI when workflow is modified
  .github/workflows/binaryninja-ci.yml
  .github/workflows/ghidra-ci.yml
  .github/workflows/server-ci.yml
Labels: bug

#106 [Binja] Fix plugin manager install
  plugins/binaryninja/binjastub/__init__.py
Labels: Binary Ninja
